*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(#1b1b1b, #825ee6);
}

.container h2 {
    color: #fff;
    font-size: 80px;
    padding-bottom: 10px;
    animation: transição 2s;
}

@keyframes transição {
    from{
        transform: rotateX(95deg);
    }
    to{
        transform: rotateX(0deg);
    }
}

.inputs {
    background-color: #7a78788e;
    padding: 15px;
    margin: 34px 0;
    display: flex;
    border-radius: 8px;
    box-sizing: 1px 3px 8px black;
}

input{
    width: 225px;
    height: 40px;
    background-color: transparent;
    color: #fff;
    border: none;
    outline: none;
    font-size: 20px;
    margin-right: 20px;
}

input::placeholder {
    color: #f3f1f1e3;
}

button {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.5s;
    border: none;
    font-size: 24px;
    color: #fff;
}

button:hover {
    transform: scale(1.2);
    
} 

.main {
    background-color: #fff;
    width: 420px;
    margin-top: 30px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

h1 {
    font-size: 35px;
    padding: 12px;

}

.main span {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 18px;
}

@media (max-width:650px) {
    .container h2 {
        width: 450px;
        font-size: 50px;
    }

    .main {
        width: 350px;
    }
}